
body {
  font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.hero, .footer {
    background-color: #1F2937;
}

ul {
    width: 80%;
    list-style-type: none;
    align-items: baseline;
    margin: 0 auto;
    padding: 16px 0px 0 0px;
    display: flex;
    gap: 24px;
}

a {
    text-decoration: none;
}

.hero .logo {
    font-size: 24px;
    color: #F9FAF8;
    margin-right: auto;
}
.hero .main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.secondary-text, a {
    font-size: 18px;
    color: #E5E7EB;
}


.hero .main {
    display: flex;
    justify-content: space-between;
    margin: 80px auto;
    width: 80%;
}
.main .main-content, .main .main-image {
    width: 400px;
    flex: 1;
}

.main .main-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-right: 20px;
}
.main .main-image {
    background-color: #6d747d;
}

.main-text, .secondary-text {
    margin: 0;
}

.secondary-text {
    margin: 16px 0;
}

button {
    width: 180px;
    padding: 16px 24px;
    border-radius: 6px;
    background-color: #3882F6;
    border: none;
    font-size: 24px;
    color: #F9FAF8;
}

.section-1 {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-1 h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.section-1 .info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.section-1 .card {
    display: flex;
    flex-direction: column;
}

.section-1 .card div {
    width: 250px;
    height: 250px;
    border-radius: 12px;
    border: #3882F6 solid 6px;
}

.section-1 .card p {
    font-size: 18px;
    color: #1F2937;
    text-align: center;
}

.section-2 {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
}

.section-2 div {
    width: 40%;
    margin: 80px 0;
}

.section-2 .quote {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    margin-bottom: 30px;
}

.section-2 .author {
    text-align: right;
}

.section-3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-3 .sub-section {
    width: 80%;
    margin: 80px 0;
    padding: 40px 0;
    background-color: #3882F6;
    border-radius: 12px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.section-3 .sub-section div h3 {
    font-size: 24px;
    color: #F9FAF8;
}

.section-3 .sub-section div p {
    font-size: 16px;
    color: #E5E7EB;
}

.section-3 .sub-section button {
    border: 3px solid #E5E7EB;
}
.footer {
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
}


